<h1>Listing entries</h1>

<%= t(:total_entries) %>: <%= @entries.total_entries %>

<%= will_paginate @entries %>

<table>
  <thead>
    <tr>
      <th class="center"><%= t(:effective_date) %></th>
      <th class="center"><%= t(:amount) %></th>
      <th class="center"><%= t(:tags) %></th>
      <th class="center"><%= t(:comment) %></th>
      <th class="center"><%= t(:action) %></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td class="center"><%=h entry.effective_date %></td>
      <td class="right"><%=h number_to_currency(entry.amount) %></td>
      <td><%=h entry.tag_list %></td>
      <td><%=h entry.comment %></td>
      <td class="center">
        <%= link_to t(:edit), edit_entry_path(entry) %>
        <%= link_to t(:destroy), entry, :confirm => t(:are_you_sure), :method => :delete %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @entries %>

<%= link_to 'New entry', new_entry_path %>
