<!DOCTYPE html PUBLIC
  "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title><%= t(:site_name) %></title>
  <%= stylesheet_link_tag 'blueprint/screen.css', :media => 'screen, projection' %>
  <%= stylesheet_link_tag 'blueprint/print.css', :media => 'print' %>
  <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie.css', :media => 'screen, projection' %><![endif]-->
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'qianbao' %>
  <%= stylesheet_link_tag 'pagination' %>
</head>

<body>
  <div id="container">
    <%= render :partial => 'layouts/header' %>

    <div id="content" class="span-24 last">
      <p style="color: green"><%= flash[:notice] %></p>

      <%= yield %>
    </div>

    <%= render :partial => 'layouts/footer' %>
  </div>
</body>
</html>
